@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 220 33% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 220 33% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 220 33% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 220 33% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 190 90% 50%;
    --accent-foreground: 220 33% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 33% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 222 84% 55%;
    --chart-2: 190 90% 50%;
    --chart-3: 245 58% 51%;
    --chart-4: 199 89% 48%;
    --chart-5: 262 83% 58%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  .font-jp {
    font-family: var(--font-noto-sans-jp);
  }
}
